.container {
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-rows: 100%;
}

h2{
    display: flex;
    justify-content: center;
}

.centre{
    height: 700px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    
}

.ds{
    scale: 150%;
}

.upgradescale{
    height: 100%;
    width: 15%;
}

.alignementup{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-items: center;
}

#score{
    display: flex;
    justify-content: center;
}

.test {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}

.test2 {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.upclick:hover{
    cursor: pointer;
}
